<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Badminton Shop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BadmintonShop"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.PaymentFailedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShippingSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FullScreenImageActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.ReviewListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.YourOrdersActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="yourorders"
                    android:scheme="badmintonshop" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VoucherSelectionActivity"
            android:exported="false"
            android:label="Chọn Voucher" />
        <activity
            android:name=".ui.AddEditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="verify"
                    android:pathPrefix="/success"
                    android:scheme="badmintonshop" />
                <data
                    android:host="verify"
                    android:pathPrefix="/failure"
                    android:scheme="badmintonshop" />
            </intent-filter>
        </activity>
    </application>

</manifest>